<h2>All of the Cars</h2>

<% @cars.each do |car| %>
  <h3>Manufacturer: <%= car.make %></h3>
  <p>Color: <%= car.color %></p>
  <p>Year: <%= car.year %></p>
  <p>Mileage: <%= car.mileage %></p>
  <p>Description: <%= car.description %></p>
<% end %>
