<% if @car.errors.any? %>
  <% @car.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>


<h2>Fill in the form below to add a car!</h2>

<%= form_for @car do |f| %>

<div>
  <%= f.label :manufacturer_id, "Manufacturer" %>
  <%= f.collection_select(:manufacturer_id, Manufacturer.all, :id, :name, include_blank: true) %>
</div>

<div>
  <%= f.label :color, "Color" %>
  <%= f.text_field :color %>
</div>

<div>
  <%= f.label :year, "Year" %>
  <%= f.text_field :year %>
</div>

<div>
  <%= f.label :mileage, "Mileage" %>
  <%= f.text_field :mileage %>
</div>

<div>
  <%= f.label :description, "Description" %>
  <%= f.text_field :description %>
</div>

<p>
  <%= f.submit "Submit" %>
</p>

<% end %>
