<!DOCTYPE html>
<html>
<head>
  <title>CarListings</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <li><%= link_to "Add Vehicle", new_car_path %></li>
    <li><%= link_to "List of Cars", cars_path %></li>
    <li>&nbsp;</li>
    <li><%= link_to "Add Manufacturer", new_manufacturer_path %></li>
    <li><%= link_to "List of Cars", manufacturers_path %></li>
  </nav>

  <% flash.each do |type, message| %>
  <div class="flash flash-<%= type %>">
    <%= message %>
  </div>
  <% end %>

<%= yield %>

</body>
</html>
